In [2]:
import pandas as pd
stro=['1','2','3','4']
stro2=[[1,2],['a','b'],['s','d']]
print(pd.Series(stro,index=[1,2,3,4]))
print(pd.DataFrame(stro2,index=[1,2,3],columns=['str','str2']))
pd.read_csv('football.csv')

1    1
2    2
3    3
4    4
dtype: object
  str str2
1   1    2
2   a    b
3   s    d

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF,84,95,...,75,96,33,28,26,6,11,15,14,8
1,1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST,84,94,...,85,95,28,31,23,7,11,15,14,11
2,2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW,79,87,...,81,94,27,24,33,9,9,15,15,11
3,3,De Gea,27,Spain,Manchester United,72000000,260000,GK,17,13,...,40,68,15,21,13,90,85,87,88,94
4,4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM,93,82,...,79,88,68,58,51,15,13,5,10,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12892,13121,J. Lundstram,19,England,Crewe Alexandra,1100000,1000,CM,34,38,...,43,45,40,48,47,10,13,7,8,9
12893,13122,N. Christoffersson,19,Sweden,Trelleborgs FF,60000,1000,ST,23,52,...,43,42,22,15,19,10,9,9,5,12
12894,13123,B. Worman,16,England,Cambridge United,60000,1000,ST,25,40,...,55,41,32,13,11,6,5,10,6,13
12895,13124,D. Walker-Rice,17,England,Tranmere Rovers,60000,1000,RW,44,50,...,50,46,20,25,27,14,6,14,8,9
12896,13125,G. Nugent,16,England,Tranmere Rovers,60000,1000,CM,41,34,...,33,43,40,43,50,10,15,9,12,9

In [59]:
a=pd.DataFrame([1,2,3],[4,5,6])
#print(a)
print(a.tail(2))
print(a.head(1))

   0
5  2
6  3
   0
4  1

In [60]:
int_values = [1, 2, 3, 4, 5]
text_values = ['alpha', 'beta', 'gamma', 'delta', 'epsilon']
float_values = [0.0, 0.25, 0.5, 0.75, 1.0]
df = pd.DataFrame({"int_col": int_values, "text_col": text_values,
                  "float_col": float_values})
print(df)
print('')
print(df.info())

   int_col text_col  float_col
0        1    alpha       0.00
1        2     beta       0.25
2        3    gamma       0.50
3        4    delta       0.75
4        5  epsilon       1.00

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   int_col    5 non-null      int64
 1   text_col   5 non-null      object
 2   float_col  5 non-null      float64
dtypes: float64(1), int64(1), object(1)
memory usage: 248.0+ bytes
None

In [5]:
#Задача 6
import pandas as pd
a=pd.read_csv('football.csv')
b=[]
for i in range(1000):
    if a['Aggression'].loc[i]>80:
        b.append(a['Aggression'].loc[i])
print(b)
#print(type(a['Aggression']))
#print(a['Aggression'].loc[1])
#Nationality
#Aggression

[87, 88, 89, 90, 85, 84, 92, 87, 84, 81, 87, 84, 81, 89, 82, 82, 82, 86, 87, 86, 86, 91, 81, 81, 93, 82, 93, 88, 86, 83, 81, 87, 94, 84, 87, 89, 82, 84, 85, 88, 82, 88, 81, 81, 92, 83, 85, 84, 86, 86, 88, 90, 84, 85, 88, 92, 83, 82, 83, 87, 84, 91, 84, 82, 82, 87, 87, 92, 87, 89, 83, 82, 83, 83, 84, 88, 85, 86, 88, 87, 88, 82, 88, 84, 81, 83, 84, 82, 81, 94, 82, 81, 84, 93, 87, 85, 84, 83, 89, 82, 92, 81, 86, 85, 82, 81, 83, 91, 81, 89, 85, 87, 83, 90, 90, 86, 83, 81, 85, 84, 86, 83, 81, 84, 85, 81, 81, 86, 85, 90, 83, 81, 88, 87, 83, 89, 92, 83, 82, 88, 83, 89, 89, 81, 82, 85, 84, 90, 83, 85, 87, 88, 86, 81, 83, 88, 85, 82, 88, 92, 81, 82, 84, 87, 81, 82, 88, 87, 84, 82, 85, 88, 84, 85, 91, 81, 84, 84, 87, 82, 89, 87, 81, 82, 82, 83, 82, 88, 89, 90, 83, 82, 86, 85]